<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="testful.gui.handler.StartWizard"
            commandId="testful.gui.wizard">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="testful.gui.wizard"
            name="Generate Tests">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="testful.gui.wizard"
               icon="images/testful_wizard.gif"
               label="Start Testful wizard"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="activeMenuSelection">
                  <iterate>
                     <instanceof
                           value="org.eclipse.jdt.core.ICompilationUnit">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>


</plugin>
